body{
  font-family: 'Nunito', sans-serif;
}


.page-content{
  font-size: 1.7em;
  margin-bottom: 2em;
  line-height: 1.6;
  color: #7d7d7d;
}

.page-content h1{
	font-size: 1.8em;
	font-weight: 700;
}


.linkoutbound{
  font-weight: 700;
}

.linkoutbound-soc{
  font-weight: 700;
}


.header{
  height: 200px;
  background: #2094B9;
}

.dribbble-link{
	color: #ea4c89;
}

.medium-link{
	color: #00AB6C;
}

.linkedin-link{
	color: #0075b5;
}

@media screen and (max-width: 480px){



}
@media screen and (max-width: 750px){


 
}
@media (max-width: 767px){
    


  
}
@media screen and (max-width: 825px){

 
}

@media (max-width: 991px) and (min-width: 768px){

}

