body{
  font-family: 'Nunito', sans-serif;
  background: url('../images/bg-image.png') -460px 0px no-repeat;
  background-color: #F9C134;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

.page-content{
  line-height: 1.6;
}

.main-content{
  height: 600px;
}

.page-content h1{
	font-size: 1.8em;
	font-weight: 700;
}

.card-content{
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  border-radius: 4px;
  font-size: 1.1em;
}


.linkoutbound{
  font-weight: 700;
}

.linkoutbound-soc{
  font-weight: 700;
}


.header{
  height: 200px;
  background: #2094B9;
}

.dribbble-link{
	color: #ea4c89;
}

.medium-link{
	color: #00AB6C;
}

.linkedin-link{
	color: #0075b5;
}

#footer{
  background: #236683;
  color: #fff;
  padding: 2em 0;
}

.soc-items{
  list-style: none;
  display: block;
}

.soc-items a{
  font-size: 1.5em;
  margin: 10px;
}

.personal-info{
  position: absolute;
  top: 5px;
  left: 20px;
  text-align: left;
}


@media screen and (max-width: 480px){



}
@media screen and (max-width: 750px){


 
}
@media (max-width: 767px){
    


  
}
@media screen and (max-width: 825px){

 
}

@media (max-width: 991px) and (min-width: 768px){

}

